version: "3"
# this file uses prebuilt image in dockerhub
services:
  jekyll:
    image: amirpourmand/al-folio
    ports:
      - 8080:8080
    volumes:
      - .:/srv/jekyll
    working_dir: /srv/jekyll
    command: bash -c "bundle install && bundle exec jekyll serve --host 0.0.0.0 --port 8080"
